<h1>About</h1>

<p>My name, as you can see up there^, is Anuhea Moors and I am an incoming senior at Lehi High School. I had no experience in coding whatsoever before starting this program. But by the end, I was able to create this whole website with links and everything. Aren't you just so proud of this little brown girl? :)</p>
