<h1>About</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "chicken.jpg", width: 500, alt: "profile image" %>
  </div>
  
  <div class="col-md-8">
    <p> ABOUT WHO? ABOUT ME</p>
  </div>
</div>


