<div class="app-card-container">
  <div class="card">
    <h1>About</h1>

    <hr>
    
    <div class="row">
      <div class="col-md-8">
        <%= image_tag "chicken.jpg", width: 500, alt: "profile image", class: 'profile-img' %>
        
        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
               <div
                 class="progress-bar progress-bar-striped bg-warning"
                 role="progressbar"
                 aria-valuenow="<%= skill.percent_utilized %>"
                 aria-valuemax="100"
                 style="width: <%= skill.percent_utilized %>%"
                ></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      
      <div class="col-md-4">
        <p> My name is Anuhea Moors. I am 16 years old, and I go to Lehi High School. I am a female who likes chicken nuggets, as you can see. Welcome to my website! Its not the best, but hey its working, right?!</p>
        
        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#experience"
            aria-expanded="false"
            aria-controller="experience"
          >
            Experience
          </button>
          
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controller="education"
          >
            Education
          </button>
        </p>
        
        <p>
          <div class="collapse" id="experience">
            <div class="card card-block">
              CTS 9-week Program
            </div>
          </div>
          
          <div class="collapse" id="education">
            <div class="card card-block">
              Lehi High School- C/O 2018
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>