<div class="app-card-container">
  <div class="card">
    <div class="row">
      <div class="col-md-6">
        <h1>Contact me homies</h1>
        
        <h4>Address</h4>
        
        <p>Lehi High School</p>
        
        <h4>Phone</h4>
        
        <p><%= number_to_phone "8018018001" %></p>
        
        <h4>Email</h4>
        
        <p><a href="mailto:anuheamoors808@gmail.com?subject=PortfolioContact" "email me">Email me if ya wanna</a></p>
      </div>
      
      <div class="col-md-6">
      
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3038.853979765703!2d-111.84106698415302!3d40.38992877936829!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d81cc25ab56d3%3A0xd2842b738465cf05!2sLehi+High+School!5e0!3m2!1sen!2sus!4v1499958228774" width="450" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        
      </div>
    </div>
  </div>
</div>