<div class="inner cover">
  
  <h1 class="cover-heading">Hello, welcome to my website. It's lit fam</h1>
  
  <p class="lead">Welcome to this awesome page all made by me. Be proud, be very proud.</p>
  
  <p class="lead">
    
    <%= link_to "About Me", about_me_path, class:"btn btn-lg btn-secondary" %>
    
  </p>
  
</div>
